In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('cleaned_news_data.csv')
df.head()

                                            Headline        Date
0  Apple (AAPL) Faces Potential 20% EPS Reduction...  2025-05-20
1  Apple (AAPL) Faces Challenges from Epic Games ...  2025-05-20
2  Apple Unwittingly Powered The Rise of Rivals H...  2025-05-20
3  Apple (AAPL) Boosts iPhone Production in India...  2025-05-20
4  Apple Advances AI Chatbot Development, Rivals ...  2025-05-19

In [3]:
#lowercase all headlines for consistency
df['Headline'] = df['Headline'].str.lower()

In [4]:
df.head()

                                            Headline        Date
0  apple (aapl) faces potential 20% eps reduction...  2025-05-20
1  apple (aapl) faces challenges from epic games ...  2025-05-20
2  apple unwittingly powered the rise of rivals h...  2025-05-20
3  apple (aapl) boosts iphone production in india...  2025-05-20
4  apple advances ai chatbot development, rivals ...  2025-05-19

In [5]:
# remove html

import re
def remove_html_tags(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'' , text)

df['Headline'] = df['Headline'].apply(remove_html_tags)

In [6]:
df.head()

                                            Headline        Date
0  apple (aapl) faces potential 20% eps reduction...  2025-05-20
1  apple (aapl) faces challenges from epic games ...  2025-05-20
2  apple unwittingly powered the rise of rivals h...  2025-05-20
3  apple (aapl) boosts iphone production in india...  2025-05-20
4  apple advances ai chatbot development, rivals ...  2025-05-19

In [7]:
# remove url
def remove_url(text):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'' , text)
df['Headline'] = df['Headline'].apply(remove_url)

In [8]:
df.shape

(4403, 2)

In [9]:
#remove punctuation
import string , time
string.punctuation
exclude = string.punctuation

def remove_punc1(text):
    return text.translate(str.maketrans('' , '' , exclude))

df['Headline'] = df['Headline'].apply(remove_punc1)

In [10]:
df.head()

                                            Headline        Date
0  apple aapl faces potential 20 eps reduction am...  2025-05-20
1  apple aapl faces challenges from epic games la...  2025-05-20
2  apple unwittingly powered the rise of rivals h...  2025-05-20
3  apple aapl boosts iphone production in india a...  2025-05-20
4  apple advances ai chatbot development rivals c...  2025-05-19

In [11]:
df.shape

(4403, 2)

In [12]:
#remove stopwords
from nltk.corpus import stopwords
import nltk




# Make sure stopwords are downloaded
nltk.download('stopwords')

def remove_stopwords(text):
    """
    Removes English stopwords from the given text.

    Parameters:
    text (str): Input string.

    Returns:
    str: Text without stopwords.
    """
    stop_words = set(stopwords.words('english'))
    words = text.split()
    filtered_words = [word for word in words if word.lower() not in stop_words]
    return ' '.join(filtered_words)


df['Headline'] = df['Headline'].apply(remove_stopwords)

[nltk_data] Downloading package stopwords to C:\Users\vivek
[nltk_data]     gupta\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [13]:
df.head()

                                            Headline        Date
0  apple aapl faces potential 20 eps reduction am...  2025-05-20
1  apple aapl faces challenges epic games lawsuit...  2025-05-20
2  apple unwittingly powered rise rivals huawei x...  2025-05-20
3  apple aapl boosts iphone production india amid...  2025-05-20
4  apple advances ai chatbot development rivals c...  2025-05-19

In [14]:
import re

def remove_emoji(text):
    emoji_pattern = re.compile(
        "["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002702-\U000027B0"  # dingbats
        u"\U000024C2-\U0001F251"  # enclosed characters
        "]+", flags=re.UNICODE
    )
    return emoji_pattern.sub(r'', text)


df['Headline'] = df['Headline'].apply(remove_emoji)

In [15]:
df.shape

(4403, 2)

In [16]:
df.head()

                                            Headline        Date
0  apple aapl faces potential 20 eps reduction am...  2025-05-20
1  apple aapl faces challenges epic games lawsuit...  2025-05-20
2  apple unwittingly powered rise rivals huawei x...  2025-05-20
3  apple aapl boosts iphone production india amid...  2025-05-20
4  apple advances ai chatbot development rivals c...  2025-05-19

In [ ]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize

# Ensure tokenizer is available
nltk.download('punkt')

def tokenize_words_column(df, column_name):
    """
    Tokenizes each row in the specified DataFrame column into a list of words.

    Parameters:
    df (pd.DataFrame): The input DataFrame.
    column_name (str): The column containing text data.

    Returns:
    pd.DataFrame: DataFrame with an added column for word tokens.
    """
    df[column_name + '_tokens'] = df[column_name].astype(str).apply(word_tokenize)
    return df



# Apply word tokenization
df = tokenize_words_column(df, 'Headline')

print(df)

# changes

[nltk_data] Downloading package punkt to C:\Users\vivek
[nltk_data]     gupta\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

                                               Headline        Date  \
0     apple aapl faces potential 20 eps reduction am...  2025-05-20
1     apple aapl faces challenges epic games lawsuit...  2025-05-20
2     apple unwittingly powered rise rivals huawei x...  2025-05-20
3     apple aapl boosts iphone production india amid...  2025-05-20
4     apple advances ai chatbot development rivals c...  2025-05-19
...                                                 ...         ...
4398  microscope apple stock thrive regulatory scrutiny  2024-04-03
4399          nvda unstoppable ai race buy nvidia stock  2024-04-03
4400                3 bluechip stock gems buy 500 april  2024-04-02
4401                                       stocks today  2024-04-02
4402  stock stinkers 3 warren buffett holdings disap...  2024-04-02

                                        Headline_tokens
0     [apple, aapl, faces, potential, 20, eps, reduc...
1     [apple, aapl, faces, challenges, epic, games, ...
2     [apple, unwittingly, powered, rise, rivals, hu...
3     [apple, aapl, boosts, iphone, production, indi...
4     [apple, advances, ai, chatbot, development, ri...
...                                                 ...
4398  [microscope, apple, stock, thrive, regulatory,...
4399  [nvda, unstoppable, ai, race, buy, nvidia, stock]
4400        [3, bluechip, stock, gems, buy, 500, april]
4401                                    [stocks, today]
4402  [stock, stinkers, 3, warren, buffett, holdings...

[4403 rows x 3 columns]

In [18]:
df.head()

,Headline,Date,Headline_tokens
0,apple aapl faces potential 20 eps reduction am...,2025-05-20,"[apple, aapl, faces, potential, 20, eps, reduc..."
1,apple aapl faces challenges epic games lawsuit...,2025-05-20,"[apple, aapl, faces, challenges, epic, games, ..."
2,apple unwittingly powered rise rivals huawei x...,2025-05-20,"[apple, unwittingly, powered, rise, rivals, hu..."
3,apple aapl boosts iphone production india amid...,2025-05-20,"[apple, aapl, boosts, iphone, production, indi..."
4,apple advances ai chatbot development rivals c...,2025-05-19,"[apple, advances, ai, chatbot, development, ri..."

In [19]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

# Make sure required resources are downloaded
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')
nltk.download('averaged_perceptron_tagger')

# Helper function to convert POS tag to WordNet format
def get_wordnet_pos(tag):
    if tag.startswith('J'):
        return wordnet.ADJ
    elif tag.startswith('V'):
        return wordnet.VERB
    elif tag.startswith('N'):
        return wordnet.NOUN
    elif tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN  # Default to noun

# Lemmatization function
def lemmatize_tokens(token_list):
    lemmatizer = WordNetLemmatizer()
    pos_tags = nltk.pos_tag(token_list)
    return [lemmatizer.lemmatize(word, get_wordnet_pos(tag)) for word, tag in pos_tags]


df['Headline_tokens'] = df['Headline_tokens'].apply(lemmatize_tokens)

[nltk_data] Downloading package punkt to C:\Users\vivek
[nltk_data]     gupta\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to C:\Users\vivek
[nltk_data]     gupta\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to C:\Users\vivek
[nltk_data]     gupta\AppData\Roaming\nltk_data...
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\vivek gupta\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [20]:
df.head()

,Headline,Date,Headline_tokens
0,apple aapl faces potential 20 eps reduction am...,2025-05-20,"[apple, aapl, face, potential, 20, eps, reduct..."
1,apple aapl faces challenges epic games lawsuit...,2025-05-20,"[apple, aapl, face, challenge, epic, game, law..."
2,apple unwittingly powered rise rivals huawei x...,2025-05-20,"[apple, unwittingly, power, rise, rival, huawe..."
3,apple aapl boosts iphone production india amid...,2025-05-20,"[apple, aapl, boost, iphone, production, india..."
4,apple advances ai chatbot development rivals c...,2025-05-19,"[apple, advance, ai, chatbot, development, riv..."

In [21]:
df.shape

(4403, 3)

In [ ]:
from transformers import pipeline

sentiment_model = pipeline("sentiment-analysis")
df['sentiment'] = df['clean_text'].apply(lambda x: sentiment_model(x)[0]['label'])
df['sentiment_score'] = df['clean_text'].apply(lambda x: sentiment_model(x)[0]['score'])